h1.logo {
    height: 2em;
    background-image: url(/images/logo.svg);
}

.bg-cr-blue {
	background-color: #3B99FC !important;
}

.navbar-cr-blue .navbar-nav .nav-link {
	color: #FFF;
}

.navbar-cr-blue .navbar-nav .nav-link.active,
.navbar-cr-blue .navbar-nav .show > .nav-link {
    background-color: #3685EC !important;
}

.navbar-cr-blue .navbar-nav .nav-link:focus,
.navbar-cr-blue .navbar-nav .nav-link:hover {
    background-color: #3685EC !important;
}

.link-dark:focus, .link-dark:hover {
	color: #0d6efd;
}

.login-card {
    width: 37%;
}

.index-slide {
    height: 10em;
}
@media (min-width: 768px) {
    .index-slide {
        height: 15em;
    }
}
@media (min-width: 992px) {
    .index-slide {
        height: 20em;
    }
}
@media (min-width: 1200px) {
    .index-slide {
        height: 25em;
    }
}

.carousel-item {
    overflow: hidden;
    position: relative;
}

.carousel-item > img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}