h1.logo {
    height: 2em;
    background-image: url(/images/logo.svg);
}

.nav-link-primary:hover {
    background-color: #0d6efd !important;
}

.link-dark:hover{
    color:#0d6efd !important;
}

.login-card {
    width: 37%;
}