h1.logo {
    height: 2em;
    background-image: url(/images/logo.svg);
}

.bg-cr-blue {
	background-color: #3B99FC !important;
}

.navbar-cr-blue .navbar-nav .nav-link {
	color: #FFF;
}

.navbar-cr-blue .navbar-nav .nav-link.active,
.navbar-cr-blue .navbar-nav .show > .nav-link {
    background-color: #3685EC !important;
}

.navbar-cr-blue .navbar-nav .nav-link:focus,
.navbar-cr-blue .navbar-nav .nav-link:hover {
    background-color: #3685EC !important;
}

.link-dark:focus, .link-dark:hover {
	color: #0d6efd;
}

.login-card {
    width: 37%;
}

.index-slide {
    height: 10em;
}
@media (min-width: 768px) {
    .index-slide {
        height: 15em;
    }
}
@media (min-width: 992px) {
    .index-slide {
        height: 20em;
    }
}
@media (min-width: 1200px) {
    .index-slide {
        height: 25em;
    }
}

.carousel-item {
    overflow: hidden;
    position: relative;
}

.carousel-item > img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	color: #0d6efd;
}

.nav-tabs .nav-link {
	color: #495057;
}

.f-sm {
	font-size: .875rem !important;
}

.ticket-list-box,
.order-list-box {
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #dee2e6;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.ticket-res-header,
.order-list-header {
    text-align: center;
    background-color: #f8f9fa;
    font-size: .875rem;
}

.ticket-res-item {
    text-align: center;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
}

.ticket-no, .ticket-dep, .ticket-du, .ticket-arr, .ticket-price, .ticket-btn, 
.ticket-buy, .ticket-buy-type, .ticket-buy-price, .ticket-buy-btn,
.order-train, .order-passenger, .order-seat, .order-price, .order-status {
    flex: 0 0 auto;
}

.ticket-no {
    width: 12%;
}
.ticket-res-item .ticket-no {
    color: #0d6efd;
    font-size: 1.25rem;
}

.ticket-dep {
    width: 20%;
}

.ticket-du {
    width: 15%;
}

.ticket-arr {
    width: 20%;
}

.ticket-price {
    width: 23.1%;
}

.ticket-btn {
    width: 6.9%;
}

.ticket-buy {
    width: 33%;
}

.ticket-buy-type {
    width: 35%;
    text-align: right;
}
.ticket-buy-price {
    width: 35%;
    text-align: left;
}
.ticket-buy-btn {
    width: 30%;
}

.ticket-time {
    color: #0d6efd;
}

.order-train {
    width: 25%;
}
.order-passenger {
    width: 20%;
}

.order-seat {
    width: 20%;
}

.order-price {
    width: 20%;
}

.order-status {
    width: 15%;
}

.order-item-header {
    /* font-size: .875rem; */
	padding-top: .75rem;
	padding-bottom: .75rem;
	padding-left: 1rem;
    border-bottom: 1px solid #dee2e6;
}

.order-item-header > * {
    flex: 0 0 auto;
    width: auto;
}

.order-item-body {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
    border-bottom: 1px solid #dee2e6;
    text-align: center;
    align-items: center;
}

.order-item-body .order-train {
    text-align: left;
}

.order-item-body .order-train {
	padding-left: 2rem;
}

.order-item-footer {
	padding-top: .75rem;
	padding-bottom: .75rem;
    border-bottom: 1px solid #dee2e6;
}